<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    
    <!-- Servlet Definitions -->
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCandidateServlet</servlet-name>
        <servlet-class>controller.AddCandidateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CandidateListServlet</servlet-name>
        <servlet-class>controller.CandidateListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCandidateServlet</servlet-name>
        <servlet-class>controller.DeleteCandidateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VotingServlet</servlet-name>
        <servlet-class>controller.VotingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>controller.AdminServlet</servlet-class>
    </servlet>
    <!-- Servlet Mappings -->
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCandidateServlet</servlet-name>
        <url-pattern>/AddCandidateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CandidateListServlet</servlet-name>
        <url-pattern>/CandidateListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCandidateServlet</servlet-name>
        <url-pattern>/DeleteCandidateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VotingServlet</servlet-name>
        <url-pattern>/VotingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <!-- Session Configuration -->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
